@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */




.logo{
    width: 100px;
   box-shadow: white;
}
header{
    display: flex;
    
    justify-content: space-between;
    background-color: black;
}
nav{
    display: flex;
    align-items: center;
    gap: 45px;
     
}
nav a{
    color: white;
}
nav a:hover{
    color: rgb(9, 22, 139);
}
.container{
    display: flex;
    margin-left: 300px;
    margin-top: 80px;
    margin-bottom: 50px;
  
}
aside{
    display: flex;
    margin-top: 100px;
    margin-left: 300px;
    gap: 45px;
    flex-direction: column;
    margin-right: 450px;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    
}

body{
   font-family: 'Courgette', cursive; 
}
main{
    margin-top: 100px;
}
main h1{
    margin-bottom: 15PX;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}
main h2{
    margin-bottom: 15PX;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}
main p{
    margin-bottom: 15PX;
}
footer img{
width: 100px;
align-items: center;
}
footer{
    background-color: black;
      }
      